<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="FlaUI.Core.Signed" version="3.0.0" targetFramework="net472" />
  <package id="FlaUI.UIA3.Signed" version="3.0.0" targetFramework="net472" />
  <package id="Interop.UIAutomationClient.Signed" version="10.18362.0" targetFramework="net472" />
  <package id="System.Management" version="4.7.0" targetFramework="net472" />
  <package id="TestStack.White.Uia3" version="0.14.0-uiacomwrapper0214" targetFramework="net472" />
  <package id="UIAComWrapper" version="1.1.1.15" targetFramework="net472" />
</packages>